html, body {margin: 0; height: 100%; overflow: hidden}

@font-face {
    font-family: "Fira";
    src: url(fonts/FiraCode-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Dina";
    src: url(fonts/DinaRemasterCollection.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Dina";
    src: url(fonts/DinaRemaster-Bold-02.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Cascadia";
    src: url(fonts/CascadiaCode_VTT.ttf) format('truetype');
    font-weight: normal;
}

body {
    height: 100hv;

    background: -webkit-linear-gradient(
        to bottom,
        #343b58,
        #565a6e
    );
    background: linear-gradient(
        to bottom,
        #1a1b26,
        #1a1b26
    );
}

footer {
    background-color: #16161d;
    outline-color: #101014;
    outline:rgba(21, 21, 21, 0.99);
    outline-offset: 7px;
    color: #525252;
    text-align: center;
    padding: 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.readme h1 {
    width: 100%;
    left:280px;
    top: 50px;
    font-size: 3em;
    position: fixed;
    font-family: monospace;
    font-weight: normal;
    text-align: left;
    background: linear-gradient(
        to right,
        #7aa2f7,
        #2c5b91
    );


    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}


.readme {
    left: 240px;
}

.pleasemovedownward {
    left: 240px;
}


.readme p {
    font-family: "Cascadia";
    font-weight: normal;
    font-size: 24px;
    height: 100%;
    width: 100%;
    position: absolute;
}

#terminal {
    left: 232px;
    top: 28px;
    width: 100%;
    height: 90%;

    position: relative;

    background-color: black;
    color: white;
    font-family: monospace;
    padding: 10px;
}

.research1 div {
    font-family: "Cascadia";
    font-weight: normal;
    color: #f7768e;
    font-size: 34px;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 42%;
    left: 8%;
    position: absolute;
}

.research1 p {
    font-family: "Cascadia";
    font-weight: normal;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 8%;
    position: absolute;
}

/* sidebar menu */

.sidenav {

    outline: #101014 solid 2px;
    height: 100%;
    width: 240px;
    top: 20px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #16161e;
    overflow-x: hidden;
    padding-top: 20px;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1000;
  }


/* Hidden state for mobile */
.sidenav.hidden {
    transform: translateX(-100%);
}

/* Hamburger button */
#menu-toggle {
    position: fixed;
    top: 20px;
    left: 80px;
    width:200px;
    height:200px;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    border: none;
    z-index: 1100;
    cursor: pointer;
}

/* Optional: hide toggle button on large screens */
@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    .sidenav {
        transform: translateX(0) !important;
    }
}

.topbar {
    outline: #101014 solid 2px;
    height: 25px;
    width: 240px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #16161e;
    color: #787c99;
    font-family: "Dina";
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    text-indent: 1em;
    text-shadow: 1px 1px 2px #101014;
    box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    padding-top: 10px;
}


  /* The navigation menu links */
  .subnavbtn  {
    border: #1c1f2b;
    width: 100%;
    top: 5px;
    padding: 8px 8px 8px 4px;
    text-decoration: none;
    text-align: left;
    padding-left: 14px;

    text-shadow: #0a0a0e 1px 2px 1px;
    font-family: "Cascadia" sans-serif;
    font-size: 22px;
    color: #787c99;
    background-color: #16161e;
    display: block;
  }
  
  .subnavbtn:hover {
    background-color: #0a0a0e;
  }

  /* When you mouse over the navigation links, change their color */
  
/* NEW NEW NEW*/
/* Add this CSS for the dropdown */
.projects {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.projects.active {
    max-height: 100px; /* Adjust this value to control the dropdown's maximum height */
}

.projects li {
    padding: 1px;
    text-align: left;
}

.projects a {

    
    text-align: left;
    text-decoration: none;
    text-shadow: #0a0a0e 1px 2px 1px;
    font-family: "Cascadia", sans-serif;
    font-size: 20px;
    padding-left: 2px;
    padding-bottom: 2px;

    color: #787c99;
    background-color: #16161e;
    display: block;

    height: 24px;
    width: 100%;
}

.projects a:hover {
    background-color: #0a0a0e;
}

.english {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.english.active {
    max-height: 100px; /* Adjust this value to control the dropdown's maximum height */
}

.english li {
    padding: 1px;
    text-align: left;
}

.english a {

    
    text-align: left;
    text-decoration: none;
    text-shadow: #0a0a0e 1px 2px 1px;
    font-family: "Cascadia", sans-serif;
    font-size: 20px;
    padding-left: 2px;
    padding-bottom: 2px;

    color: #787c99;
    background-color: #16161e;
    display: block;

    height: 24px;
    width: 100%;
}

.english a:hover {
    background-color: #0a0a0e;
}

/* Update the vertical alignment for the arrow icon */
.arrow-icon {
    vertical-align: middle;
    transition: transform 0.3s ease-in-out; /* Add transition for the arrow rotation */
}

/* Add this CSS to rotate the arrow icon */
.arrow-rotate {
    transform: rotate(90deg);
}

/* Update the vertical alignment for the arrow icon */
.earrow-icon {
    vertical-align: middle;
    transition: transform 0.3s ease-in-out; /* Add transition for the arrow rotation */
}

/* Add this CSS to rotate the arrow icon */
.earrow-rotate {
    transform: rotate(90deg);
}

/* Add this CSS to create the vertical line */
.projects-container::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 6%;
    bottom: 0;
    width: 1px; /* Adjust the width of the line as needed */
    height: 88%;

    background-color: #787c99; /* Line color */
}

/* Adjust the position of the vertical line */
.projects-container {
    position: relative;
    padding-left: 20px; /* Adjust the padding to create space for the line */
}

/* Add this CSS to create the vertical line */
.engl-container::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 6%;
    bottom: 0;
    width: 1px; /* Adjust the width of the line as needed */
    height: 88%;

    background-color: #787c99; /* Line color */
}

/* Adjust the position of the vertical line */
.engl-container {
    position: relative;
    padding-left: 20px; /* Adjust the padding to create space for the line */
}

.tab {
    z-index: 5;
    top: 0px;
    left: 242px;
    height: 35px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    outline: 2px solid #101014;
    background-color: #16161e;
    font-family: "Dina";

}

.tabphone {
    z-index: 5;
    top: 0px;
    left: 0px;
    height: 35px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    outline: 2px solid #101014;
    background-color: #16161e;
    font-family: "Dina";

}
.tabphone {
    display: flex;
    flex-direction: row; /* Arrange tabs horizontally */
}

.tab {
    display: flex;
    flex-direction: row; /* Arrange tabs horizontally */
}


.tabbutton {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;

    width: 200px;


    transition: 0.3s;
    outline: #0a0a0e solid 2px;
    text-decoration: none;
    font-family: "Dina";
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    color: #696c89;
    position: relative;
    display: flex; /* Make tab buttons and close buttons flex items */
}

.tablinks {
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;

    position: absolute;
    left:0px;
    width: 200px;
    height: 35px;

    padding-left: 4px;
    text-decoration: none;
    font-family: "Dina";
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    color: #696c89;
}

.tabbutton button:hover {
    background-color: #21212c;
}

.tabbutton:hover .closetab {
    background-color: #21212c;
}

.closetab {
    border-radius: 50%;
    width: 5%;
    height: 80%;

    border:none;
    outline:none;

    cursor: pointer;
    transition: 0.3s;
    padding-right: 26px;
    text-decoration: none;
    font-family: "Dina";
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    background-color: #16161e;
    
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    opacity: 1;
}

.closetab img {
    background-color: transparent !important;
    filter: invert(63%) sepia(9%) saturate(533%) hue-rotate(201deg) brightness(91%) contrast(93%);
    opacity: 1; /* Ensure full opacity */
}

.closetab:hover {
    background-color: transparent !important;
    opacity: .5; /* Ensure full opacity */
}





#mi {
    background-color: #1a1b26;
    display: flex; /* Use flexbox */
    align-items: stretch;
    position: absolute;
    overflow: auto;
    left: 242px;
    top: 37px;
    right: 0px;
    bottom: 0px;
}

#linecount {
    background-color: #1f212e;
    width: 29px;
    top:0px;
    z-index: 4;
    white-space: nowrap;
    color: #535368;
    font-family: "Dina";
    font-size: 22px;
    line-height: 22px;
    border-right: 1px solid #101014;
    height: 12000%; /* Set a maximum height */
    position: absolute;
}



#line 
{

    z-index: 24;
    font-family: "Dina";
    color:#535368;
    text-align: center;
    font-size: 22px;
    top:22px;
    height: 22px;

}


#readmeTextbox {
    z-index: 1;
    background-color: #1a1b26;
    top:0px;
    left:28px;
    width: calc(100% - 29px);
    height: 80%;
    resize: none;
    outline: none;
    border: none;
    color: #9aa5ce;
    font-family: "Cascadia", monospace;
    font-size: 20px;
    line-height: 22px;
    padding-left: 6px;
    white-space: nowrap;
    flex-grow: 1; /* Make it grow to fill available space */
    position: absolute;
}
/* Additional styles as needed */


#mi::-webkit-scrollbar {
    width: 12px;
}

#mi::-webkit-scrollbar-track {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb */
#mi::-webkit-scrollbar-thumb {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb on hover */
#mi::-webkit-scrollbar-thumb:hover {
    background: #2f3246;
}

#mi::-webkit-scrollbar-corner {
    background-color: transparent;
}

#readmeTextbox::-webkit-scrollbar {
    width: 12px;
}

#readmeTextbox::-webkit-scrollbar-track {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb */
#readmeTextbox::-webkit-scrollbar-thumb {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb on hover */
#readmeTextbox::-webkit-scrollbar-thumb:hover {
    background: #2f3246;
}

#readmeTextbox::-webkit-scrollbar-corner {
    background-color: transparent;
}



#readmeTextbox:invalid {
    border:none;
    outline: none;
}
#readmeTextbox:valid{
    border:none;
    outline: none;
}

.line-highlight {
    background-color: #1e202e;
}




.project1 {
    position: absolute;
    top: 40px;
    left: 260px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.project1 #header
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #f7768e;
}

.project1 p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    left:20px;
    position: relative;
    color: 9aa5ce;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.37);
    width: 40%;
}


.project1 video {
    
    left:30px;
    position: relative;
}

.project1::-webkit-scrollbar {
    width: 12px;
}

.project1::-webkit-scrollbar-track {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb */
.project1::-webkit-scrollbar-thumb {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb on hover */
.project1::-webkit-scrollbar-thumb:hover {
    background: #2f3246;
}

.project1::-webkit-scrollbar-corner {
    background-color: transparent;
}


.project2 {
    position: absolute;
    top: 40px;
    left: 260px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.project2 #header
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #f7768e;
}

.project2 p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    left:20px;
    position: relative;
    color: 9aa5ce;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.37);
    width: 40%;
}

.project2 video {
    
    left:30px;
    position: relative;
}

.project2::-webkit-scrollbar {
    width: 12px;
}

.project2::-webkit-scrollbar-track {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb */
.project2::-webkit-scrollbar-thumb {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb on hover */
.project2::-webkit-scrollbar-thumb:hover {
    background: #2f3246;
}

.project2::-webkit-scrollbar-corner {
    background-color: transparent;
}


.project3 {
    position: absolute;
    top: 40px;
    left: 260px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.project3 #header
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align:center;
    color: #f7768e;
}

.project3 #header2
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align:center;
    color: #972121;
}

.project3 #header3
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align:center;
    color: #e4e4e4;
}

.project3 p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    position: relative;
    text-align: center;
    color: rgb(232, 232, 232);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.37);

}

.project3 video {
    
    left:30px;
    position: relative;
}

.project3::-webkit-scrollbar {
    width: 12px;
}

.project3::-webkit-scrollbar-track {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb */
.project3::-webkit-scrollbar-thumb {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb on hover */
.project3::-webkit-scrollbar-thumb:hover {
    background: #2f3246;
}

.project3::-webkit-scrollbar-corner {
    background-color: transparent;
}




.project3phone {
    position: absolute;
    top: 40px;
    left: 1%;
    right: 0px;
    width: 98%;
    bottom: 0;
    overflow-y: auto;
}

.project3phone #header
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align:center;
    color: #f7768e;
}

.project3phone #header2
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align:center;
    color: #972121;
}

.project3phone #header3
{
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align:center;
    color: #e4e4e4;
}

.project3phone p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    position: relative;
    text-align: center;
    color: rgb(232, 232, 232);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.37);

}

.project3phone video {
    
    left:30px;
    position: relative;
}

.project3phone::-webkit-scrollbar {

    display: none;
}

.project3phone::-webkit-scrollbar-track {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb */
.project3phone::-webkit-scrollbar-thumb {
    background: #222331;
    border-radius: 0px;
}

/* Style the scrollbar thumb on hover */
.project3phone::-webkit-scrollbar-thumb:hover {
    background: #2f3246;
}

.project3phone::-webkit-scrollbar-corner {
    background-color: transparent;
}


.image-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px; /* Adjust as needed */
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Optional border */
    border-radius: 8px; /* Optional border radius */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional box shadow */
    margin-right: 10px; /* Adjust spacing between images */
}


.research1 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 240px;
}

.research1 header {
    background-color: #33333300;
    -webkit-text-fill-color: #919191;
    -webkit-text-stroke: .2px #111111;
    padding: 20px;
    text-align: center;
}

.research1 section {
    margin: 40px;
}

.research1 h2 {
    color: #333;
}

.research1 ul {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    height: 70%;
    max-height: 70%;
}

.research1 li {
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    -webkit-text-fill-color: #ddd;
    -webkit-text-stroke: .2px #111111;
}

.title {
    font-style: italic;
    -webkit-text-fill-color: #ddd;
    -webkit-text-stroke: .2px #111111;
}

.image-container img {
    margin: 5px; /* Adjust this value as needed to control the spacing between images */
}

.publication {
    font-weight: bold;
    -webkit-text-fill-color: #ddd;
    -webkit-text-stroke: .2px #111111;
}

.year {
    font-style: bold;
    -webkit-text-fill-color: #ddd;
    -webkit-text-stroke: .2px #111111;
}

.research1 {
    margin-left: 260px;
}

.descriptor {
    margin-top: 5px;
    margin-bottom: 10px; /* Added margin to prevent overlap */
    font-size: 14px;
    color: #555;
}
